body {
	margin: 0;
	border-top: 4px solid #E10098;
}

header {
	width: 100%;
	position: static;
	text-align: center;
	float: none;
}

header img {
	width: 250px;
	border-radius: 125px;
	border-top: 4px solid #E10098;
	margin-bottom: 20px;
}
