body {
	margin: 0;
	text-align: center;
}

header {
	width: 100%;
	position: static;
	float: none;
	background: url(/assets/img/head.jpg) no-repeat;
	background-size: cover;
	border-bottom: 4px solid #E10098;
}

header img {
	width: 250px;
	border-radius: 125px;
	border: 4px solid #E10098;
	margin-bottom: 20px;
}
