<!DOCTYPE html>
<html lang="en" id="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Oblique Strategies</title>
    <link rel="stylesheet" href="{{ '/assets/css/os.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <h1 id="os"></h1>
    <script src="{{ '/assets/js/os.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</body>
</html>